# Compiled class file
*.class

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle
/build/
/dist
/out
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### frontend ###
src/main/resources/templates/
src/main/resources/static/
frontend/dist/
frontend/node/
frontend/node_modules/
frontend/npm-debug.log
frontend/target
frontend/test-output
frontend/test/e2e/reports
frontend/test/unit/coverage
frontend/yarn-error.log
frontend/yarn.lock
security/target/
selenium-debug.log